:host {
  --sds-c-card-footer-color-border: rgb(221, 219, 218);
  --sds-c-card-footer-spacing-inline: 0px;
  --sds-c-icon-color-foreground-default: #4472c4;
}

.form-element lightning-icon + lightning-input {
  display: inline-block;
}

.form-element lightning-icon + lightning-input input {
  padding-left: 42px;
}

.selectable {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.selectable:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.authenticators-grid > div {
  margin: 10px 0;
}

.avatar img {
  width: 6rem;
  border-radius: 50%;
}

div[data-invisible]{
  transition: all 2s;
}
div[data-invisible="true"] {
  opacity: 0;
}
div[data-invisible="false"]{
  opacity: 1;
}
